[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/hugo-coder-pabittner"]
	path = themes/hugo-coder-pabittner
	url = https://github.com/paulantoineb/hugo-coder.git
